:root {
  font-family: Helvetica;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
canvas {
  display: block;
}

#intro {
  position: fixed;
  top: 0;
  left: 1rem;
  color: gray;
}
