:root {
  font-family: Helvetica;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
canvas {
  display: block;
}

#intro {
  position: fixed;
  top: 0;
  left: 1rem;
  color: gray;
  z-index: 99;
}
